# Google Maps API Key for Maps and Geocoding
GOOGLE_MAPS_PLATFORM_KEY=

# Lalamove API Keys (Production)
LALAMOVE_API_KEY=pk_prod_aa845b67bdfea714e038a7f70011a73c
LALAMOVE_API_SECRET=sk_prod_Mbxp1L78rAqdqcyFK24Lf+ondyFp1hxIn+F25eXsod0aFiq2TA01dc+53Ydccb9I
LALAMOVE_MARKET=TH
